<header>
        <nav class="nav">
                <button class="nav-toggle" aria-label="Toggle navigation" aria-expanded="false">
                        <span class="hamburger"></span>
                </button>
                <ul class="nav-menu">
                        <li><a href="https://decouverto.fr">Accueil</a></li>
                        <li><a href="https://calendrier.decouverto.fr/">Calendrier</a></li>
                        <li><a href="https://decouverto.fr/livres">Livres</a></li>
                        <li><a href="https://app.decouverto.fr" target="_blank">Application</a></li>
                        <li><a href="#" class="active">Podcasts</a></li>
                        <li><a href="https://decouverto.fr/rando">Randonnées</a></li>
                        <li><a href="https://decouverto.fr/chansons/">Chansons</a></li>
                        <li><a href="//documents.decouverto.fr/">Documents</a></li>
                </ul>
        </nav>
        <div class="nav-container">
                <h1>Découverto</h1>
        </div>
        <div class="gradient">
                <div class="logo"><a href="{{ site.baseurl}}/index.html"><img src="/images/192x192_header.png" height="192px"><h1 class="hidden">{{ site.title }}</h1></a></div>
        </div>
</header> 

